# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Notice, that the "Number of sectors" is not required on NOR and SPI-dataflash.
# Futhermore, if the Flash sector size is omitted, this value is assumed to
# be the same as the Environment size, which is valid for NOR and SPI-dataflash
# Device offset must be prefixed with 0x to be parsed as a hexadecimal value.

# SD card (MMC) deployment
# If saveenv command is used in U-boot to save the U-Boot environment, a ‘uboot.env’ file
# will appear on the boot (1st) partition of the SD card.
#
# FAT device name      Device offset   Env. size
/boot/uboot.env                0x00000         0x80000
