/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"

/*
 *  zynq-enclustra-zx-common.dtsi w/modifications
 */
/ {
	memory@0 {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		stdout-path = &uart1;
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	mdio@e000b000 {
		compatible = "cdns,macb-mdio";
		reg = <0xe000b000 0x1000>;
		clocks = <&clkc 30>, <&clkc 30>, <&clkc 13>;
		clock-names = "pclk", "hclk", "tx_clk";
		#address-cells = <1>;
		#size-cells = <0>;
		phy3: ethernet-phy@3 {
		        reg = <3>;
		};
	};
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&phy3>;
};

&sdhci0 {
	status = "okay";
	broken-cd = <0x1>;
	wp-inverted = <0x1>;
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&i2c0 {
	status = "okay";
	/* Both RTCs disabled by default, choose one */
	pcf85063: pcf85063@51 {
		status = "disabled";
		compatible = "nxp,pcf85063";
		reg = <0x51>;
	};
	isl12022: isl12022@68 {
		status = "disabled";
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};
};

/*
 *  zynq-enclustra-qspi-parts.dtsi w/modifications
 */
/ {
  aliases {
    spi0 = &qspi;
  };
};

&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	flash@0 {
		compatible = "s25fl512s";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@0 {
			label = "boot";
			reg = <0x0 0x500000>;
      read-only;
		};
    partition@500000 {
      label = "boot-script";
      reg = <0x500000 0x40000>;
      read-only;
    };
    partition@540000 {
      label = "boot-env";
      reg = <0x540000 0x80000>;
    };
    partition@5C0000 {
      label = "kernel-a";
      reg = <0x5C0000 0xF80000>;
    };
    partition@A00000 {
      label = "devicetree-a";
      reg = <0xA00000 0x40000>;
    };
    partition@A40000 {
      label = "rootfs-a";
      reg = <0xA40000 0xB00000>;
    };
		partition@1540000 {
			label = "kernel-b";
			reg = <0x1540000 0xF80000>;
		};
		partition@1980000 {
			label = "devicetree-b";
			reg = <0x1980000 0x40000>;
		};
		partition@19C0000 {
			label = "rootfs-b";
			reg = <0x19C0000 0xB00000>;
		};
		partition@24C0000 {
			label = "rootfs-data";
			reg = <0x24C0000 0x140000>;
		};
		partition@25C0000 {
			label = "appfs";
			reg = <0x25C0000 0x1A00000>;
		};
	};
};

/*
 *  TSAT 3500
 */
/ {
	amba: amba {
		uart2: serial@43c10000 {
			clock-frequency = <100000000>;
			clock-names = "s_axi_aclk";
			clocks = <&clkc 15>;
			compatible = "xlnx,xps-uart16550", "ns16550a";
			status = "disabled";
			current-speed = <115200>;
			interrupt-names = "ip2intc_irpt";
			interrupt-parent = <&intc>;
			interrupts = <0 33 4>;
			port-number = <0>;
			reg = <0x43c10000 0x10000>;
			reg-offset = <0x1000>;
			reg-shift = <2>;
			xlnx,external-xin-clk-hz = <0x17d7840>;
			xlnx,external-xin-clk-hz-d = <0x19>;
			xlnx,has-external-rclk = <0x0>;
			xlnx,has-external-xin = <0x0>;
			xlnx,is-a-16550 = <0x1>;
			xlnx,s-axi-aclk-freq-hz-d = "100.0";
			xlnx,use-modem-ports = <0x1>;
			xlnx,use-user-ports = <0x1>;
		};
	};

	aliases {
		ethernet0 = &gem0;
		ethernet1 = &gem1;
		mmc0 = &sdhci0;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		spi0 = &qspi;
		usb0 = &usb0;
		gpio0 = &gpio0;
		gpio1 = &tca6416_led;
		gpio2 = &tca6416_gpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
	};

	mdio1@e000c000 {
    compatible = "cdns,macb-mdio";
    reg = <0xe000c000 0x1000>;
    clocks = <&clkc 31>, <&clkc 31>;
		clock-names = "pclk", "hclk";
    #address-cells = <1>;
    #size-cells = <0>;
		phy7: ethernet-phy@7 {
			reg = <7>;
		};
	};

	fpga_reg_fft@44000000 {
		compatible = "generic-uio";
		reg = <0x44000000 0x1000>;
		interrupt-parent = <0x4>;
		interrupts = <0x0 0x1d 0x1>;
	};

	fpga_reg_data@44000000 {
		compatible = "generic-uio";
		reg = <0x44000000 0x1000>;
		interrupt-parent = <0x4>;
		interrupts = <0x0 0x1e 0x1>;
	};

	gpio-leds {
		compatible = "gpio-leds";
		led0 {
			label = "board:green:app:tx";
			gpios = <&tca6416_led 0 0>;
			default-state = "off";
		};
		led1 {
			label = "board:red:app:tx";
			gpios = <&tca6416_led 1 0>;
			default-state = "off";
		};
		led2 {
			label = "board:green:app:rx";
			gpios = <&tca6416_led 2 0>;
			default-state = "off";
		};
		led3 {
			label = "board:red:app:rx";
			gpios = <&tca6416_led 3 0>;
			default-state = "off";
		};
		led4 {
			label = "board:green:sat:tx";
			gpios = <&tca6416_led 4 0>;
			default-state = "off";
		};
		led5 {
			label = "board:red:sat:tx";
			gpios = <&tca6416_led 5 0>;
			default-state = "off";
		};
		led6 {
			label = "board:green:sat:rx";
			gpios = <&tca6416_led 6 0>;
			default-state = "off";
		};
		led7 {
			label = "board:red:sat:rx";
			gpios = <&tca6416_led 7 0>;
			default-state = "off";
		};
		led8 {
			label = "board:green:lnk";
			gpios = <&tca6416_led 8 0>;
			default-state = "off";
		};
		led9 {
			label = "board:red:lnk";
			gpios = <&tca6416_led 9 0>;
			default-state = "off";
		};
		led10 {
			label = "board:green:loc";
			gpios = <&tca6416_led 10 0>;
			default-state = "off";
		};
		led11 {
			label = "board:red:loc";
			gpios = <&tca6416_led 11 0>;
			default-state = "off";
		};
		led12 {
			label = "board:green:sys";
			gpios = <&tca6416_led 12 0>;
			default-state = "off";
		};
		led13 {
			label = "board:red:sys";
			gpios = <&tca6416_led 13 0>;
			default-state = "off";
		};
	};
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&gem1 {
	status = "okay";
	phy-mode = "mii-id";
	phy-handle = <&phy7>;
	xlnx,emio = <1>;
};

&i2c0 {
	status = "okay";
	zynq_eeprom: eeprom@5c {
		compatible = "24c01"; // Maxim DS28CN01
		reg = <0x5c>;
		read-only;
	};
};

&i2c1 {
	status = "okay";

	tca6416_led: gpio@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	tca6416_gpio: gpio@21 {
		compatible = "ti,tca6416";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	ina226_rx: ina226rx@40 {
		compatible = "ti,ina226";
		reg = <0x40>;
		shunt-resistor = <40000>;
	};

	ina226_tx: ina226tx@41 {
		compatible = "ti,ina226";
		reg = <0x41>;
		shunt-resistor = <10000>;
	};

	eeprom: eeprom@50 {
		compatible = "atmel,24c04";
		reg = <0x50>;
	};

	adrf6755: adrf6755@60 {
		status = "okay";
		compatible = "adrf6755";
		reg = <0x60>;
		ref_frequency_KHz = <0x2710>;
		pfd_frequency_KHz = <0x4e20>;
	};
};

/ {
	model = "Enclustra Mars ZX3 SOM";
};

&uart0 {
	status = "okay";
};

&isl12022 {
	status = "okay";
};
